  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="position:fixed; width: 100%; top:0; z-index: 9999;">
    <a class="navbar-brand" href="/">🎂The Sweetest Store🎂</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          {% if session['username']=='admin' %}
            <li class="nav-item"><a class="nav-link" href="/commentboard">Comment Board</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
          {% endif %}
      </ul>
      <ul class="navbar-nav navbar-right">
        {% if session.logged_in %}
          <li class="nav-item"><a class="nav-link" href="/orderhistory">Order History</a></li>
            }
          <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        {% else %}       
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>