{% extends 'layout.html' %}

<!-- LOGIN PAGE -->

{% block head %}

	<style>
	#login{
		background-color: #FDEBD0; 
		position: absolute; 
		width: 95%; 
		left:32px; 
		right:32px; 
		padding: 20px	
	}
	</style>

{% endblock %}


{% block body %}

	<h1>Login</h1>
	<section class="container" style="height: 381px">
		<div id="login">

			<form action = "" method="POST">
				<div class="form-group">
					<label>Username</label>
					<input type ="text" name="username" class="form-control" value={{request.form.username}}>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type ="password" name="password" class="form-control" value={{request.form.username}}>
				</div>
				<br>		
				<button type="submit" class="btn btn-primary" value="submit">Submit</button>
			</form>

				<br><br>
				<p>No account yet? <a href="register">Press here</a> to register</p>
		</div>
	</section>

{% endblock %}