{% extends 'layout.html' %}

<!-- PRODUCT CATALOG PAGE -->

{% block head %}

	<style>

	/* float four columns side by side */
	.column {
		float: left;
		padding: 10px;
	}

	.row {margin: 0 -5px;}

	.row:after {
		content:"";
		display: table;
		clear: both;
		height: 500px
	}

	@media screen and (max-width: 600px) {
		.column {
			width: 100%;
			display: block;
			margin-bottom: 30px;
		}
	}

	.card {
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	  max-width: 300px;
	  margin: 5px;
	  text-align: center;
	  font-family: fantasy;
	  width: 280px;

	}

	.price {
	  color: grey;
	  font-size: 22px;
	}

	.card a {
	  border: none;
	  outline: 0;
	  padding: 12px;
	  color: white;
	  background-color: #000;
	  text-align: center;
	  cursor: pointer;
	  width: 100%;
	  font-size: 18px;
	}

	.card a:hover {
	  opacity: 0.7;
	}
	</style>

{% endblock %}


{% block body %}

	<h1>Our products</h1>

	<div class="row">

		{% for product in products %}
			<div class="column">
				<div class="card">
				  <img src="{{ product.image }}" alt="Cakes" style="width:100%">
				  <h4>{{ product.name }}</h4>
				  <p class="price">HKD ${{ product.price }}</p>
				  <p>{{ product.description }}</p>
				  <p><a href="product/{{product.id}} ">Order Now</button></a>
			
				</div>
			</div>
		{% endfor %}

	</div>

{% endblock %}